@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tło i tekst */
.background {
  background-image: linear-gradient(to margin-left , var(--gradient-color1, #697172), var(--gradient-color2, #151b1f));
  min-height: 100vh;
  width: 100%;
}
.text-main {
  min-height: 100vh;                /* min-h-screen */
  position: relative;                /* relative */
  font-size: 0.9rem;               /* text-sm */
  font-weight: 500;                  /* font-medium */
  text-align: center;                /* text-center */                    /* domyślny kolor tekstu */
  color: #57918e;                    /* text-gray-200 */
}

.tab-content {
  padding-bottom: 6rem;          /* padding-bottom: 24 */
}

/* Tab bar (menu) */
.tab-bar {
  font-size: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 0.1em; /* było 1.2em, zmniejsz na 0.2em */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: -1px;
}

.tab-bar--scrolled {
  background: #121518d3; /* lub dowolny inny kolor/tło */
  position: sticky; /* <-- dodaj to! */
  transition: background 0.3s;
  top: 0; /* <-- dodaj to! */
  z-index: 100; /* <-- dodaj to! */
}

/* Pojedynczy przycisk tab */
.tab-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-bottom: 2px solid transparent;
  background: transparent;
  transition: background 0.2s, color 0.2s;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0;
}

.tab-btn.active,
.tab-btn:focus {
  background: rgba(59, 64, 68, 0.39);
  outline: none;
}

.tab-btn:hover {
  background: #a2c0d173;
  color: #8ee4df
}

/* Podkreślenie aktywnej zakładki */
.menu-bar {
  position: absolute;
  bottom: 15px; /* zamiast 0, podnosi podkreślenie bliżej tekstu */
  height: 0.25rem;
  border-radius: 0.1rem;
  transition: all 0.3s;
  z-index: 2;
}
.menu-bar--active {
  background:  #183d42;
  
}
.menu-bar--scrolled.menu-bar--active {
  background: #285d649f;
}

/* Tytuły sekcji */
.tab-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #295c63;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Główny kontent */
.main-content {
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(248, 39, 2);
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .main-content {
    margin: 0 auto 2rem auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.short-text-block {
  text-align: middle;
  margin-bottom: 1.8rem;
  color: #6e8285;
}


.text-block {
  text-indent: 2em;
  text-align: left;
  margin-bottom: 1.8rem;
  color: #6e8285;
}
.text-block a, .short-text-block a {
  color: #83896e;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.5s;
}
.text-block a:hover, .short-text-block a:hover {
  text-decoration: none;
  color: #3a3d2f;
}

/* Stopka */


.text-block-alt {
  color: #142020;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
}

.language-button-container {
  position: absolute;
  top: 2rem;
  right: 5.5%;
  background-color: #56a8a1;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}

.language-switch-btn {
  width: 50px;
  border: none;
  color: #495057;
  background-color: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.3em 0.1em;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 9px;
}

.language-switch-btn.active{
  background-color: #024e53;
  color: #86b3b3;
}
.language-switch-btn:hover {
  background-color: #03292b;
}