@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tło i tekst */
.bg-all { 
  background-color: #D3DAD9;
}
.text-main {
  min-height: 100vh;                /* min-h-screen */
  position: relative;                /* relative */
  font-size: 0.9rem;               /* text-sm */
  font-weight: 500;                  /* font-medium */
  text-align: center;                /* text-center */
  color: #212024;                    /* domyślny kolor tekstu */
}

.tab-content {
  padding-bottom: 6rem;          /* padding-bottom: 24 */
}

a{
  color: #2a3b26;
}

.text-header {
  color: #28282b;
}

/* Tab bar (menu) */
.tab-bar {
  font-size: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 0.1em; /* było 1.2em, zmniejsz na 0.2em */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: -1px;
}

/* Pojedynczy przycisk tab */
.tab-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-bottom: 2px solid transparent;
  background: transparent;
  transition: background 0.2s, color 0.2s;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0;
  color: #302727;
}

.tab-btn.active,
.tab-btn:focus {
  background: #a9acac;
  outline: none;
}

.tab-btn:hover {
  background: rgb(146, 150, 150);
}

/* Podkreślenie aktywnej zakładki */
.menu-bar {
  position: absolute;
  bottom: 15px; /* zamiast 0, podnosi podkreślenie bliżej tekstu */
  height: 0.25rem;
  border-radius: 0.1rem;
  transition: all 0.3s;
  z-index: 2;
}
.menu-bar--active {
  background:  #566652;
}

/* Tytuły sekcji pod tabami */
.tab-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #28282b;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Główny kontent */
.main-content {
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(60, 60, 63);
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .main-content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.short-text-block {
  text-align: middle;
  margin-bottom: 1.8rem;
  color: rgb(60, 60, 63);
}


.text-block {
  text-indent: 2em;
  text-align: left;
  margin-bottom: 1.8rem;
  color: rgb(60, 60, 63);
}
.text-block a, .short-text-block a {
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.5s;
}
.text-block a:hover, .short-text-block a:hover {
  text-decoration: none;
  color: #28282b;
}

/* Stopka */


.text-block-alt {
  color: #546344;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
}

.language-button-container {
  position: absolute;
  top: 2rem;
  right: 5.5%;
  background-color: #32362d;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}

.language-switch-btn {
  width: 50px;
  border: none;
  color: #D3DAD9;
  background-color: #32362d;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.3em 0.1em;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

.language-switch-btn.active{
  background-color: #566652;
  color: #D3DAD9;
}
.language-switch-btn:hover {
  background-color: #434b3f;
  color: #D3DAD9;
}