.masonry {
  column-count: 3;
  column-gap: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 900px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 600px) {
  .masonry {
    column-count: 1;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s, background 0.3s;
  position: relative;
}

.masonry-item:hover {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.459), 0 1.5px 8px 0 rgba(0, 0, 0, 0.18);
  z-index: 2;
}

.masonry-item img:hover {
  transform: scale(1.08);
  z-index: 2;
}


.masonry-item img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

/* Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  cursor: zoom-out;
}
.lightbox-img {
  max-height: 90vh;
  max-width: 90vw;
  box-shadow: 0 0 32px #000;
  background: #fff;
}

.instagram {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.instagram a {
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.2s;
}

.instagram a:hover {
  text-decoration: none;
}

.tab-bar {
  font-size: 1.2em;      /* powiększa tekst o 20% */
  padding-top: 1.2em;    /* większy odstęp u góry */
  padding-bottom: 1.2em; /* większy odstęp na dole */
}
